@media screen and (max-width: 576px) {
    html, body{
        margin: 5px;
    }
   .nav-options{
    display: none;
   } 
   .menu, .cart{
    display: block;
   }

   .banner-container{
    flex-direction: column-reverse;
   }
   .banner-image{
    width: 257px;
    height: 257px;
   }
   .banner-text{
    text-align: center;
   }
   .banner-text h1{
    margin-top: 14px;
    font-size: 1.75rem;
    font-weight: 700;
   }
   .banner-text p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
   }
   .banner-text button{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
   }
   .brands{
    display: flex;
    flex-direction: column;
   }
   .row-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 0px;
   }
   .row-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
   }
}