@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body{  
    max-width: 1200px;
    margin: 0 auto;
}

.menu, .cart{
    display: none;
}

.navbar{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h3{
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-options{
    width: 463px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-options a{
    display: flex;
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
}

.banner-container{
    height: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.banner-text h1{
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;  
}

.banner-text p{
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px;
}

.banner-text button{
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(224, 44, 109);
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

.banner-image{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-image img{
    width: 100%;
}

.brands{
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-bottom: 1px solid rgba(192, 204, 218, 0.6);
    border-top: 1px solid rgba(192, 204, 218, 0.6);
}

.row-1{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.row-2 {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* collection styles */
.collection-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-container h3{
    color: rgb(58, 58, 58);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;    
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}

.card h4{
    color: rgb(24, 25, 31);
    font-size: 1.75rem;
    font-weight: 500;
}

.card h5{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 6px;
}

.card p{
    color: rgb(120, 120, 133);
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}